@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&family=Kumar+One+Outline&family=Shrikhand&display=swap');

.anek-gujarati {
    font-family: "Anek Gujarati", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1320px;
    margin: 0px auto;
}

h2 {
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.section-padding {
    padding: 30px 0px;
}

.primary-btn {
    display: flex;
    justify-content: center;

    a,
    button {
        cursor: pointer;
        outline: none;
        border: 0;
        background-color: #A56818;
        color: white;
        display: inline-block;
        font-weight: 700;
        text-transform: capitalize;
        width: auto;
        position: relative;
        z-index: 1;
        padding: 10px 40px;
        border-radius: 65px;
        transition: all 0.5s;

        &:after {
            position: absolute;
            content: '';
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 2px solid #A56818;
            left: 0px;
            top: 0px;
            border-radius: 65px;
            transform: scale(0);
            transition: all 0.5s;
        }

        &:hover {
            background-color: transparent;
            color: #A56818;

            &:after {
                transform: scale(1);
            }
        }
    }
}

.heading {
    padding-bottom: 30px;

    h2 {
        text-align: center;
        color: #A56818;


        span {
            color: #680a14;
        }
    }

    p {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: #6c4c03;
    }
}

.tab-btns {
    justify-content: center;
    display: flex;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;

    .btn-group {
        display: flex;
        column-gap: 15px;
        background-color: #a5681821;
        padding: 15px;
        border-radius: 8px;

        .tab-button {
            padding: 10px 16px 5px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            transition: background-color 0.3s, color 0.3s;
        }

        .groundnut-btn,
        .sunflower-btn {
            background-color: #ffffff;
            color: #6c4c03;
            font-weight: bold;
            font-size: 20px;
        }

        .groundnut-btn.active,
        .sunflower-btn.active {
            background-color: #A56818;
            color: #ffffff;
            font-weight: bold;
            box-shadow: 0 0 6px rgba(0, 128, 0, 0.3);
        }
    }
}

// navbar start 
.navbar {
    background-color: #A56818;
    padding: 5px 0px;
    color: white;
    // position: sticky;
    top: 0px;
    z-index: 3;

    .row {
        .animation {
            overflow: hidden;
            white-space: nowrap;

            .scrolling-text-left {
                display: flex;
                animation: scroll-left 20s linear infinite;

                .scrolling-wrapper {
                    display: flex;
                    align-items: center;

                    .logo {
                        img {
                            width: 32px;
                            object-fit: contain;
                            display: block;
                        }
                    }

                    h4 {
                        font-family: sans-serif;
                        font-weight: bold;
                        margin: 0 25px;
                        color: white;
                        text-transform: uppercase;
                        white-space: nowrap;
                    }
                }

                @keyframes scroll-left {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

// navbar end

// header start 
header {
    box-shadow: 0 8px 20px 0px #00000013;
    background-color: white;
    // position: sticky;
    top: 38px;
    z-index: 3;

    .container {
        .main-box {
            align-items: center;
            justify-content: space-between;
            padding: 4px 15px;

            .logo {
                a {
                    img {
                        display: block;
                        width: 175px;
                    }
                }
            }

            .menu {
                ul {
                    column-gap: 40px;

                    li {
                        a {
                            color: #6c4c03;
                            text-transform: capitalize;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

// header end

// footer start 
footer {
    padding: 60px 0px 30px 0px;
    background-color: #a5681821;

    .container {
        .row {

            .top-footer {
                .main-box {
                    .box {
                        .content {
                            text-transform: capitalize;

                            .logo {
                                a {
                                    display: inline-block;

                                    img {
                                        display: block;
                                        width: 300px;
                                    }
                                }
                            }

                            .social {
                                padding-top: 30px;

                                ul {
                                    column-gap: 15px;

                                    li {
                                        a {
                                            img {
                                                display: block;
                                                width: 32px;
                                            }
                                        }
                                    }
                                }
                            }

                            h4 {
                                font-size: 24px;
                                color: #A56818;
                                font-weight: bold;
                                padding-bottom: 25px;
                            }

                            ul {
                                li {
                                    padding-bottom: 15px;
                                    display: flex;
                                    align-items: center;
                                    column-gap: 15px;

                                    a {
                                        font-size: 18px;
                                        font-weight: bold;
                                        color: #6c4c03;
                                    }

                                    .icon {
                                        img {
                                            display: block;
                                        }
                                    }

                                    .details {
                                        span {
                                            font-size: 20px;
                                            font-weight: bold;
                                            display: block;
                                            color: #A56818;
                                            padding-bottom: 8px;
                                        }

                                        a {
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: #6c4c03;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-child(1) {
                            width: 35%;
                        }

                        &:nth-child(2) {
                            width: 20%;
                        }

                        &:nth-child(3) {
                            width: 15%;
                        }

                        &:nth-child(4) {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}

// footer end

// sub footer start 
.sub-footer {
    background-color: #A56818;
    border-radius: 55px 0px 0px;
    position: relative;

    .container {
        .row {
            .main-box {
                justify-content: space-between;

                .box {
                    .content {
                        padding: 30px 0px;

                        p {
                            color: white;
                            font-size: 18px;
                            font-weight: 400;

                            a {
                                color: white;
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
        }
    }

    &::before {
        position: absolute;
        content: '';
        box-sizing: border-box;
        height: 98px;
        width: 60px;
        right: 0px;
        bottom: 100%;
        box-shadow: #A56818 0px 50px 0px 0px;
        border-radius: 0px 0px 70px;
        transform: rotate(0deg);
    }

    &::after {
        position: absolute;
        content: '';
        box-sizing: border-box;
        height: 100%;
        width: 5%;
        left: 0px;
        bottom: 0px;
        background-color: rgba(224, 143, 38, 0.1490196078);
        z-index: -1;
    }
}

// sub footer start 

// whatsapp section start 
.whatsapp-section {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 3;

    .box {
        display: inline-block;
        width: 145px;

        .content {
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            background-color: #1A6510;
            border-radius: 10px;
            padding: 5px 0px;

            .details {
                p {
                    color: white;
                    font-weight: 700;
                    padding: 4px 0px 0px 8px;
                }
            }

            .icon {
                img {
                    display: block;
                    width: 40px;
                }
            }
        }
    }
}

// whatsapp section end