@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&family=Kumar+One+Outline&family=Shrikhand&display=swap");
.anek-gujarati {
  font-family: "Anek Gujarati", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1320px;
  margin: 0px auto;
}

h2 {
  text-transform: capitalize;
  font-size: 42px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.section-padding {
  padding: 30px 0px;
}

.primary-btn {
  display: flex;
  justify-content: center;
}
.primary-btn a,
.primary-btn button {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: #A56818;
  color: white;
  display: inline-block;
  font-weight: 700;
  text-transform: capitalize;
  width: auto;
  position: relative;
  z-index: 1;
  padding: 10px 40px;
  border-radius: 65px;
  transition: all 0.5s;
}
.primary-btn a:after,
.primary-btn button:after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid #A56818;
  left: 0px;
  top: 0px;
  border-radius: 65px;
  transform: scale(0);
  transition: all 0.5s;
}
.primary-btn a:hover,
.primary-btn button:hover {
  background-color: transparent;
  color: #A56818;
}
.primary-btn a:hover:after,
.primary-btn button:hover:after {
  transform: scale(1);
}

.heading {
  padding-bottom: 30px;
}
.heading h2 {
  text-align: center;
  color: #A56818;
}
.heading h2 span {
  color: #680a14;
}
.heading p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #6c4c03;
}

.tab-btns {
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
  position: sticky;
  top: 0px;
}
.tab-btns .btn-group {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  background-color: rgba(165, 104, 24, 0.1294117647);
  padding: 15px;
  border-radius: 8px;
}
.tab-btns .btn-group .tab-button {
  padding: 10px 16px 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}
.tab-btns .btn-group .groundnut-btn,
.tab-btns .btn-group .sunflower-btn {
  background-color: #ffffff;
  color: #6c4c03;
  font-weight: bold;
  font-size: 20px;
}
.tab-btns .btn-group .groundnut-btn.active,
.tab-btns .btn-group .sunflower-btn.active {
  background-color: #A56818;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0 6px rgba(0, 128, 0, 0.3);
}

.navbar {
  background-color: #A56818;
  padding: 5px 0px;
  color: white;
  top: 0px;
  z-index: 3;
}
.navbar .row .animation {
  overflow: hidden;
  white-space: nowrap;
}
.navbar .row .animation .scrolling-text-left {
  display: flex;
  animation: scroll-left 20s linear infinite;
}
.navbar .row .animation .scrolling-text-left .scrolling-wrapper {
  display: flex;
  align-items: center;
}
.navbar .row .animation .scrolling-text-left .scrolling-wrapper .logo img {
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.navbar .row .animation .scrolling-text-left .scrolling-wrapper h4 {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0 25px;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

header {
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.0745098039);
  background-color: white;
  top: 38px;
  z-index: 3;
}
header .container .main-box {
  align-items: center;
  justify-content: space-between;
  padding: 4px 15px;
}
header .container .main-box .logo a img {
  display: block;
  width: 175px;
}
header .container .main-box .menu .logo {
  display: none;
}
header .container .main-box .menu ul {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
header .container .main-box .menu ul li a {
  color: #6c4c03;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
}
header .container .main-box .menu .social {
  display: none;
}
header .container .main-box .menubar {
  cursor: pointer;
  display: none;
}
header .container .main-box .menubar input {
  display: none;
}
header .container .main-box .menubar svg {
  height: 2.5em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .container .main-box .menubar svg .line {
  fill: none;
  stroke: #A56818;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.5;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .container .main-box .menubar svg .line.line-top-bottom {
  stroke-dasharray: 12 63;
}
header .container .main-box .menubar input:checked + svg {
  transform: rotate(-45deg);
}
header .container .main-box .menubar input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

footer {
  padding: 60px 0px 30px 0px;
  background-color: rgba(165, 104, 24, 0.1294117647);
}
footer .container .row .top-footer {
  padding: 0px 15px;
}
footer .container .row .top-footer .main-box .box .content {
  text-transform: capitalize;
}
footer .container .row .top-footer .main-box .box .content .logo a {
  display: inline-block;
}
footer .container .row .top-footer .main-box .box .content .logo a img {
  display: block;
  width: 300px;
}
footer .container .row .top-footer .main-box .box .content .social {
  padding-top: 30px;
}
footer .container .row .top-footer .main-box .box .content .social ul {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
footer .container .row .top-footer .main-box .box .content .social ul li a img {
  display: block;
  width: 32px;
}
footer .container .row .top-footer .main-box .box .content h4 {
  font-size: 24px;
  color: #A56818;
  font-weight: bold;
  padding-bottom: 25px;
}
footer .container .row .top-footer .main-box .box .content ul li {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
footer .container .row .top-footer .main-box .box .content ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #6c4c03;
}
footer .container .row .top-footer .main-box .box .content ul li .icon img {
  display: block;
}
footer .container .row .top-footer .main-box .box .content ul li .details span {
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: #A56818;
  padding-bottom: 8px;
}
footer .container .row .top-footer .main-box .box .content ul li .details a {
  font-size: 18px;
  font-weight: bold;
  color: #6c4c03;
}
footer .container .row .top-footer .main-box .box:nth-child(1) {
  width: 35%;
}
footer .container .row .top-footer .main-box .box:nth-child(2) {
  width: 20%;
}
footer .container .row .top-footer .main-box .box:nth-child(3) {
  width: 15%;
}
footer .container .row .top-footer .main-box .box:nth-child(4) {
  width: 30%;
}

.sub-footer {
  background-color: #A56818;
  border-radius: 55px 0px 0px;
  position: relative;
}
.sub-footer .container .row .main-box {
  justify-content: space-between;
  padding: 0px 15px;
}
.sub-footer .container .row .main-box .box .content {
  padding: 30px 0px;
}
.sub-footer .container .row .main-box .box .content p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.sub-footer .container .row .main-box .box .content p a {
  color: white;
  font-weight: 900;
}
.sub-footer::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  height: 98px;
  width: 60px;
  right: 0px;
  bottom: 100%;
  box-shadow: #A56818 0px 50px 0px 0px;
  border-radius: 0px 0px 70px;
  transform: rotate(0deg);
  z-index: -1;
}
.sub-footer::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  height: 100%;
  width: 5%;
  left: 0px;
  bottom: 0px;
  background-color: rgba(224, 143, 38, 0.1490196078);
  z-index: -1;
}

.whatsapp-section {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
}
.whatsapp-section .box {
  display: inline-block;
  width: 145px;
}
.whatsapp-section .box .content {
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: #1A6510;
  border-radius: 10px;
  padding: 5px 0px;
}
.whatsapp-section .box .content .details p {
  color: white;
  font-weight: 700;
  padding: 4px 0px 0px 8px;
}
.whatsapp-section .box .content .icon img {
  display: block;
  width: 40px;
}

@media (max-width: 1199px) {
  footer .container .row .top-footer .main-box .box .content .social ul li a img {
    width: 28px;
  }
  footer .container .row .top-footer .main-box .box .content h4 {
    font-size: 22px;
  }
  footer .container .row .top-footer .main-box .box .content ul li a {
    font-size: 18px;
  }
  footer .container .row .top-footer .main-box .box .content ul li .icon img {
    width: 28px;
  }
  footer .container .row .top-footer .main-box .box .content ul li .details span {
    font-size: 18px;
  }
  footer .container .row .top-footer .main-box .box .content ul li .details a {
    font-size: 16px;
  }
  .sub-footer .container .row .main-box {
    padding: 20px 15px;
  }
  .sub-footer .container .row .main-box .box .content {
    padding: 0px;
  }
  .sub-footer .container .row .main-box .box .content p {
    font-size: 16px;
  }
  .sub-footer::before {
    z-index: -1;
  }
  .whatsapp-section .box {
    display: inline-block;
    width: 125px;
  }
  .whatsapp-section .box .content {
    padding: 8px 0px;
  }
  .whatsapp-section .box .content .details p {
    padding: 4px 0px 0px 0px;
  }
  .whatsapp-section .box .content .icon img {
    width: 30px;
  }
}
@media (max-width: 991px) {
  header .container .main-box .menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 42px 30px;
    background-color: #fff;
    width: 60%;
    height: 100%;
    box-shadow: 3px 3px 39px -4px rgba(0, 0, 0, 0.75);
    transition: 0.49s ease-in-out;
    overflow-y: scroll;
    transform: translateX(-115%);
    z-index: 2;
  }
  header .container .main-box .menu .logo {
    display: block;
  }
  header .container .main-box .menu ul {
    display: block;
    padding-top: 30px;
  }
  header .container .main-box .menu ul li {
    padding: 10px 0px;
    border-bottom: 2px solid rgba(165, 104, 24, 0.1294117647);
  }
  header .container .main-box .menu ul li a {
    font-size: 18px;
  }
  header .container .main-box .menu .social {
    display: block;
    padding-top: 30px;
  }
  header .container .main-box .menu .social h4 {
    font-size: 22px;
    color: #A56818;
    font-weight: bold;
    padding-bottom: 20px;
  }
  header .container .main-box .menu .social ul {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 0px;
  }
  header .container .main-box .menu .social ul li {
    border-bottom: 0px;
  }
  header .container .main-box .menu .social ul li a img {
    display: block;
    width: 26px;
  }
  header .container .main-box .active {
    transform: translateX(0);
  }
  header .container .main-box .menubar {
    display: block;
  }
  footer .container .row .top-footer .main-box {
    justify-content: space-between;
  }
  footer .container .row .top-footer .main-box .box .content .social {
    padding: 0px;
  }
  footer .container .row .top-footer .main-box .box .content .social ul li a img {
    width: 26px;
  }
  footer .container .row .top-footer .main-box .box .content ul li .icon img {
    width: 26px;
  }
  footer .container .row .top-footer .main-box .box:nth-child(1) {
    width: 100%;
  }
  footer .container .row .top-footer .main-box .box:nth-child(1) .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .row .top-footer .main-box .box:nth-child(2) {
    width: 24%;
    padding-top: 40px;
    order: 3;
  }
  footer .container .row .top-footer .main-box .box:nth-child(3) {
    width: 24%;
    padding-top: 40px;
    order: 2;
  }
  footer .container .row .top-footer .main-box .box:nth-child(4) {
    width: 49%;
    padding-top: 40px;
    order: 1;
  }
  .sub-footer .container .row .main-box {
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 10px 15px;
  }
  .sub-footer .container .row .main-box .box .content {
    padding: 3px 0px;
  }
  .sub-footer .container .row .main-box .box .content p {
    font-size: 14px;
  }
  .whatsapp-section {
    bottom: 20px;
  }
  .whatsapp-section .box {
    display: inline-block;
    width: 115px;
  }
  .whatsapp-section .box .content {
    -moz-column-gap: 5px;
         column-gap: 5px;
    padding: 5px 0px;
  }
  .whatsapp-section .box .content .details p {
    font-size: 16px;
    padding: 5px 0px 0px 0px;
  }
  .whatsapp-section .box .content .icon img {
    width: 28px;
  }
}
@media (max-width: 767px) {
  header .container .main-box .menu ul li a {
    font-size: 16px;
  }
  header .container .main-box .menu .social h4 {
    font-size: 20px;
  }
  footer .container .row .top-footer .main-box .box .content .social ul li a img {
    width: 26px;
  }
  footer .container .row .top-footer .main-box .box .content h4 {
    font-size: 20px;
  }
  footer .container .row .top-footer .main-box .box .content ul li a {
    font-size: 16px;
  }
  footer .container .row .top-footer .main-box .box .content ul li .icon img {
    width: 24px;
  }
  footer .container .row .top-footer .main-box .box .content ul li .details span {
    font-size: 16px;
  }
  footer .container .row .top-footer .main-box .box .content ul li .details a {
    font-size: 14px;
  }
  footer .container .row .top-footer .main-box .box:nth-child(1) {
    width: 100%;
    order: 0;
  }
  footer .container .row .top-footer .main-box .box:nth-child(2) {
    width: 100%;
    order: 0;
    padding-top: 15px;
  }
  footer .container .row .top-footer .main-box .box:nth-child(3) {
    width: 100%;
    order: 0;
    padding-top: 15px;
  }
  footer .container .row .top-footer .main-box .box:nth-child(4) {
    width: 100%;
    order: 0;
    padding-top: 15px;
  }
  .whatsapp-section .box {
    width: 100px;
  }
  .whatsapp-section .box .content .details p {
    font-size: 14px;
    font-weight: 400 !important;
  }
  .whatsapp-section .box .content .icon img {
    width: 26px;
  }
}
@media (max-width: 575px) {
  footer .container .row .top-footer .main-box .box:nth-child(1) {
    width: 100%;
  }
  footer .container .row .top-footer .main-box .box:nth-child(1) .content {
    display: block;
  }
  footer .container .row .top-footer .main-box .box:nth-child(1) .content .social {
    padding-top: 30px;
  }
  footer .container .row .top-footer .main-box .box:nth-child(2) {
    width: 100%;
  }
  footer .container .row .top-footer .main-box .box:nth-child(3) {
    width: 100%;
  }
  footer .container .row .top-footer .main-box .box:nth-child(4) {
    width: 100%;
  }
  .whatsapp-section {
    bottom: 15px;
    right: 15px;
  }
}/*# sourceMappingURL=app.css.map */