.banner-section {
  padding-bottom: 30px;
}
.banner-section .row .box video {
  display: block;
  width: 100%;
  height: 666px;
  -o-object-fit: cover;
     object-fit: cover;
}

.guarantee-section {
  padding: 30px 0px;
}
.guarantee-section .container .row .main-box .box {
  width: 25%;
  padding: 15px;
}
.guarantee-section .container .row .main-box .box .content {
  padding: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.0745098039);
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5s;
}
.guarantee-section .container .row .main-box .box .content .image {
  margin: 0px auto;
  width: 90px;
  height: 90px;
  position: relative;
}
.guarantee-section .container .row .main-box .box .content .image img {
  width: 100%;
  height: 100%;
}
.guarantee-section .container .row .main-box .box .content .image:after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  transform: scale(0);
  transition: all 0.8s;
  z-index: -1;
  border-radius: 50%;
}
.guarantee-section .container .row .main-box .box .content .details {
  padding: 20px 0px;
  text-align: center;
}
.guarantee-section .container .row .main-box .box .content .details h3 {
  color: #e08f26;
  padding-bottom: 10px;
}
.guarantee-section .container .row .main-box .box .content .details p {
  color: #680a14;
  font-weight: 500;
}
.guarantee-section .container .row .main-box .box .content:hover .image:after {
  transform: scale(7);
  background-color: rgba(246, 223, 127, 0.3411764706);
}

.products-section {
  padding: 30px 0px;
}
.products-section .container .row .main-box .box {
  width: 33.33%;
  padding: 15px;
}
.products-section .container .row .main-box .box .content {
  height: 100%;
  padding: 20px;
  border-radius: 12px;
}
.products-section .container .row .main-box .box .content .image {
  width: 200px;
  margin: 0px auto;
}
.products-section .container .row .main-box .box .content .image img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.products-section .container .row .main-box .box .content .details {
  text-align: center;
  padding-top: 20px;
}
.products-section .container .row .main-box .box .content .details h3 {
  color: #680a14;
  padding: 15px 0px;
}
.products-section .container .row .main-box .box .content:hover .image img {
  transform: scale(1.05);
}

.customers-banner-section {
  padding: 30px 0px;
  background-color: rgba(224, 143, 38, 0.1490196078);
  min-height: 215px;
}

.customers-section {
  padding: 30px 0px;
  margin-top: -7%;
}
.customers-section .container .row .main-box {
  justify-content: center;
}
.customers-section .container .row .main-box .box {
  width: 30%;
  padding: 15px;
}
.customers-section .container .row .main-box .box .content {
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.0745098039);
}
.customers-section .container .row .main-box .box .content .details {
  padding-top: 15px;
}
.customers-section .container .row .main-box .box .content .details h3 {
  color: #e08f26;
  font-size: 30px;
}
.customers-section .container .row .main-box .box .content .details p {
  color: #680a14;
  font-size: 30px;
  font-weight: 700;
}

.slider-section {
  padding: 30px 0px;
}/*# sourceMappingURL=style.css.map */