.banner-section {
  padding-bottom: 30px;
}
.banner-section .row .box video {
  display: block;
  width: 100%;
  height: 666px;
  -o-object-fit: cover;
     object-fit: cover;
}

.guarantee-section {
  padding: 30px 0px;
}
.guarantee-section .container .row .main-box .box {
  width: 25%;
  padding: 15px;
}
.guarantee-section .container .row .main-box .box .content {
  padding: 20px;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5s;
}
.guarantee-section .container .row .main-box .box .content .image {
  margin: 0px auto;
  width: 90px;
  height: 90px;
  position: relative;
}
.guarantee-section .container .row .main-box .box .content .image img {
  width: 100%;
  height: 100%;
}
.guarantee-section .container .row .main-box .box .content .image:after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  transform: scale(0);
  transition: all 0.8s;
  z-index: -1;
  border-radius: 50%;
}
.guarantee-section .container .row .main-box .box .content .details {
  padding: 20px 0px;
  text-align: center;
}
.guarantee-section .container .row .main-box .box .content .details h3 {
  color: #A56818;
  padding-bottom: 10px;
}
.guarantee-section .container .row .main-box .box .content .details p {
  color: #680a14;
  font-weight: 500;
}
.guarantee-section .container .row .main-box .box .content:hover .image:after {
  transform: scale(7);
  background-color: rgba(165, 104, 24, 0.1294117647);
}

.products-section {
  padding: 30px 0px;
}
.products-section .container .row .main-box .box {
  width: 33.33%;
  padding: 15px;
}
.products-section .container .row .main-box .box .content {
  height: 100%;
  padding: 20px;
  border-radius: 12px;
}
.products-section .container .row .main-box .box .content .image {
  width: 200px;
  margin: 0px auto;
}
.products-section .container .row .main-box .box .content .image img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.products-section .container .row .main-box .box .content .details {
  text-align: center;
  padding-top: 20px;
}
.products-section .container .row .main-box .box .content .details h3 {
  color: #680a14;
  padding: 15px 0px;
}
.products-section .container .row .main-box .box .content:hover .image img {
  transform: scale(1.05);
}

.customers-banner-section {
  padding: 30px 0px;
  background-color: rgba(165, 104, 24, 0.1294117647);
  min-height: 215px;
}

.customers-section {
  padding: 30px 0px;
  margin-top: -7%;
}
.customers-section .container .row .main-box {
  justify-content: center;
}
.customers-section .container .row .main-box .box {
  width: 30%;
  padding: 15px;
}
.customers-section .container .row .main-box .box .content {
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.0745098039);
}
.customers-section .container .row .main-box .box .content .image img {
  width: 32px;
}
.customers-section .container .row .main-box .box .content .details {
  padding-top: 15px;
}
.customers-section .container .row .main-box .box .content .details h3 {
  color: #A56818;
  font-size: 30px;
}
.customers-section .container .row .main-box .box .content .details p {
  color: #680a14;
  font-size: 30px;
  font-weight: 700;
}

.slider-section {
  padding: 30px 0px;
}
.slider-section .row .animation {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.slider-section .row .animation .scrolling-text-left {
  display: flex;
}
.slider-section .row .animation .scrolling-text-left .scrolling-wrapper {
  display: flex;
  align-items: center;
}
.slider-section .row .animation .scrolling-text-left .scrolling-wrapper .logo img {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-section .row .animation .scrolling-text-left .scrolling-wrapper h2 {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0 25px;
  color: rgba(51, 51, 51, 0.8);
  text-transform: uppercase;
  white-space: nowrap;
}
.slider-section .row .animation .scrolling-text-left .scrolling-wrapper .t-fill {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(51, 51, 51, 0.8);
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.slider-section .row .animation .scrolling-text-right {
  display: flex;
}
.slider-section .row .animation .scrolling-text-right .scrolling-wrapper {
  display: flex;
  align-items: center;
}
.slider-section .row .animation .scrolling-text-right .scrolling-wrapper .logo img {
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-section .row .animation .scrolling-text-right .scrolling-wrapper h2 {
  font-family: sans-serif;
  font-weight: bold;
  margin: 0 25px;
  color: rgba(51, 51, 51, 0.8);
  text-transform: uppercase;
  white-space: nowrap;
}
.slider-section .row .animation .scrolling-text-right .scrolling-wrapper .t-fill {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(51, 51, 51, 0.8);
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.review-section {
  padding: 30px 0px;
  background-color: rgba(232, 212, 214, 0.22);
  min-height: 215px;
}
.review-section .container .row .main-box {
  justify-content: space-between;
}
.review-section .container .row .main-box .box:nth-child(1) {
  width: 15%;
}
.review-section .container .row .main-box .box:nth-child(1) .content .head .image img {
  margin: 0px auto;
  height: 45px;
  width: 45px;
  display: block;
  border-radius: 50%;
}
.review-section .container .row .main-box .box:nth-child(1) .content .G-review {
  justify-content: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding: 8px 0px;
}
.review-section .container .row .main-box .box:nth-child(1) .content .G-review img {
  display: block;
  width: 18px;
}
.review-section .container .row .main-box .box:nth-child(1) .content .primary-btn {
  padding: 8px 0px;
}
.review-section .container .row .main-box .box:nth-child(2) {
  width: 75%;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .head {
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: relative;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .head .image {
  width: 45px;
  height: 45px;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .head .image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .head .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #A56818;
  text-transform: capitalize;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .head .details h5 {
  font-size: 13px;
  font-weight: 400;
  color: #680a14;
  color: rgba(51, 51, 51, 0.8);
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .head .G-icon {
  position: absolute;
  right: 0px;
  top: 0px;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .head .G-icon img {
  width: 18px;
  display: block;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .G-review {
  -moz-column-gap: 4px;
       column-gap: 4px;
  padding: 8px 0px;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .G-review img {
  display: block;
  width: 18px;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .feedback {
  height: 75px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #680a14 #ffffff;
}
.review-section .container .row .main-box .box:nth-child(2) .mySwiper .swiper-wrapper .swiper-slide .content .feedback p {
  color: rgba(51, 51, 51, 0.8);
}

.form-section {
  padding: 30px 0px;
}
.form-section .container .row .form {
  max-width: 800px;
  margin: 0px auto;
}
.form-section .container .row .form form {
  justify-content: center;
}
.form-section .container .row .form form .input-box {
  width: 50%;
  padding: 10px;
  position: relative;
}
.form-section .container .row .form form .input-box input {
  outline: none;
  padding: 20px 40px 20px 20px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid rgba(165, 104, 24, 0.3215686275);
  color: #A56818;
  font-size: 16px;
}
.form-section .container .row .form form .input-box input:focus {
  border: 2px solid #A56818;
}
.form-section .container .row .form form .input-box img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  width: 22px;
}
.form-section .container .row .form form .message-area {
  width: 100%;
  padding: 10px;
  position: relative;
}
.form-section .container .row .form form .message-area textarea {
  outline: none;
  padding: 20px 40px 20px 20px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid rgba(165, 104, 24, 0.3215686275);
  color: #A56818;
  font-size: 16px;
}
.form-section .container .row .form form .message-area textarea:focus {
  border: 2px solid #A56818;
}
.form-section .container .row .form form .message-area img {
  display: block;
  position: absolute;
  top: 42px;
  transform: translateY(-50%);
  right: 25px;
  width: 22px;
}
.form-section .container .row .form form .action {
  padding: 10px;
}

.outlets-section {
  padding: 30px 0px;
}
.outlets-section .container .row .title h2 {
  text-transform: capitalize;
  text-align: center;
  color: #A56818;
}
.outlets-section .container .row .main-box {
  align-items: center;
}
.outlets-section .container .row .main-box .box {
  width: 50%;
  padding: 15px;
}
.outlets-section .container .row .main-box .box .content {
  border: 2px solid rgba(104, 10, 20, 0.3098039216);
  padding: 20px;
  border-radius: 12px;
}
.outlets-section .container .row .main-box .box .content .head h4 {
  text-transform: capitalize;
  color: #680a14;
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 15px;
  text-align: center;
}
.outlets-section .container .row .main-box .box .content ul li {
  padding: 5px 0px;
  align-items: center;
}
.outlets-section .container .row .main-box .box .content ul li .icon {
  width: 6%;
}
.outlets-section .container .row .main-box .box .content ul li .icon img {
  display: block;
  width: 22px;
}
.outlets-section .container .row .main-box .box .content ul li .details {
  width: 94%;
}
.outlets-section .container .row .main-box .box .content ul li .details p {
  font-size: 18px;
  color: #A56818;
  font-weight: 600;
  text-transform: capitalize;
}

.map-section {
  padding: 30px 0px;
}
.map-section .container .row iframe {
  border-radius: 30px;
}/*# sourceMappingURL=style.css.map */